* { margin: 0; padding: 0; text-decoration: none; list-style: none; }
html, body { height:100%; }
body { width:100%; background: #1cabe2; }

.logo { max-width: 1700px; right: 0; left: 0; margin:auto; position: fixed; z-index: 10; }
.logo img { margin: 50px 0 0 20px; }
.scroll { position: fixed; left:0; right:0; bottom:50px; top:auto; margin:auto; z-index: 10; width: fit-content; }
.scroll p { padding-bottom: 10px; font-family: 'Noto Sans KR'; font-weight: 300; font-size: 14px; }
.scroll i { border: 2px solid #000; border-radius: 50px; width: 29px; height: 52px; display: block; position: relative; margin:auto; }
.scroll i:after { content: ''; width: 4px; height: 12px; background: #000; border-radius: 50px; position: absolute; top: 10px; left: 0; right: 0; margin: auto; animation: scroll 2s infinite; }
.scroll i:before { content:url(../images/scrollDown_arrow.png); position:absolute; bottom: -28px; left:calc(50% - 1px); transform:translateX(-50%); animation:scroll_arrow .7s infinite alternate}

/* ani */
@keyframes scroll_mob {
    0% { top: 5px; opacity: 1; }
    90% { top: 20px; opacity: 1; }
    100% { top: 20px; opacity: 0; }
}
@keyframes scroll {
    0% { top: 10px; opacity: 1; }
    90% { top: 30px; opacity: 1; }
    100% { top: 30px; opacity: 0; }
}
@keyframes scroll_arrow{
	0%{ bottom: -28px; }
	100%{ bottom: -33px; }
}

/************************************** section1 **************************************/
.section0 { width: 100%; display: flex; justify-content: center; flex-direction: column; }
.section0 .section_wrap { max-width: 1700px; width: 100%; right: 0; left: 0; position:absolute; top: 0; margin: auto; font-family: 'GongGothic'; height:100%; }

/* scene0 */
.section0 .section_wrap .scene0 { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; }
.section0 .section_wrap .scene0 .intro_quote { text-align: center; /*padding-top: 295px;*/ }
.section0 .section_wrap .scene0 .intro_quote .quote, 
.section0 .section_wrap .scene0 .intro_quote i { display: inline-block; color: #fff; font-size: 40px; font-weight: 100; }
.section0 .section_wrap .scene0 .intro_quote i { width: 4px; height: 35px; background-color: #fff; margin:auto 20px; transform: translateY(5px); }
.section0 .section_wrap .scene0 .second_quote { font-size: 63px; font-weight: 300; color: #fff; -webkit-text-stroke: #000 3px; margin:50px auto 0; width: fit-content; letter-spacing: -3px; }
.section0 .section_wrap .scene0 .second_quote span:nth-of-type(1) { color: #ff8fa5; }
.section0 .section_wrap .scene0 .second_quote span:nth-of-type(2) { color: #cb83ff; }
.section0 .section_wrap .scene0 .second_quote span:nth-of-type(3) { color: #b0e0ff; }
.section0 .section_wrap .scene0 .third_quote { font-size: 114px; font-weight: 300; color: #fff; -webkit-text-stroke: #000 3px; margin:40px auto 0; width: fit-content; letter-spacing: -5px; word-break: keep-all; }
.section0 .section_wrap .scene0 .third_quote span { z-index: 1; position:relative; }
.section0 .section_wrap .scene0 .third_quote span b { color: #1cabe2; padding-left: 20px;}
.section0 .section_wrap .scene0 .third_quote span i { background: url(../images/highlight.png) 50% 50% no-repeat; width: 368px; height: 176px; position: absolute; top: -25px; left: -3px; z-index: -1; }

@media screen and (min-width:768px) and (max-width:1280px){
    /* .section0 .section_wrap .scene0 .intro_quote { height:140px; } */
	.section0 .section_wrap .scene0 .third_quote { text-align: center; }
    
}

@media screen and (max-width:767px){
    .logo { max-width: 1700px; width: fit-content; right: auto; left: 0; margin:auto; position: fixed; z-index: 10; }
    .logo img { margin: 26px 0 0 20px; width: 63px; height: 34px; }
    .scroll { bottom:50px; }
    .scroll p { display: none; }
    .scroll i { border: none; width: 9px; height: 9px; }
    .scroll i:after { display: none; }
    .scroll i:before { content:url(../images/scrollDown_arrow.png); position:absolute; bottom: -28px; left:calc(50% - 1px); transform:translateX(-50%); animation:scroll_arrow .7s infinite alternate}

    .section0 .section_wrap .scene0 .intro_quote { padding: 0 20px; height: 60px; }
    .section0 .section_wrap .scene0 .intro_quote .quote { font-size: 20px; line-height: 1.5; display: inline; word-break: keep-all; }
    .section0 .section_wrap .scene0 .intro_quote i { width: 2px; height: 17.5px; background-color: #fff; margin:auto 10.5px; transform: translateY(5px); position: absolute; }
    .section0 .section_wrap .scene0 .second_quote {font-size: 31px;text-align: center; line-height: 1.3; -webkit-text-stroke: #000 1.5px; margin:15px auto 0; }
    .section0 .section_wrap .scene0 .third_quote {font-size: 57px; margin:5px auto 0; -webkit-text-stroke: #000 1.5px; text-align: center; line-height: 1.2; }
    .section0 .section_wrap .scene0 .third_quote span b { padding-left: 0px; }
    .section0 .section_wrap .scene0 .third_quote span i { width: 184px; height: 87.5px; background-size:99%; top:auto; right:auto; bottom: -8px; left: -20px; }
}

/************************************** section2 **************************************/
.section2 { width: 100%; display: flex; justify-content: center; flex-direction: column; }
.section2 .section_wrap { max-width: 1700px; width: 100%; right: 0; left: 0; position:absolute; top: 0; margin: auto; font-family: 'GongGothic'; height:100%; }

/* scene1 */
.section2 .section_wrap .scene1 { width:100%; height: 100%; display: flex; justify-content: center; align-items: center; } 
.section2 .section_wrap .scene1_bg { height: 100vh; width: 100%; background: url(../images/s1_bg.png) 50% 50% no-repeat; background-size: cover; position:fixed; top:0; } 
.section2 .section_wrap .scene1 .fourth_quote { font-size: 60px; font-weight: 400; margin:auto; color: #fff; -webkit-text-stroke: #000 3px; width: fit-content; letter-spacing: -3px; }
.section2 .section_wrap .scene1 .fourth_quote span:nth-of-type(1) { color: #ffee62; }
.section2 .section_wrap .scene1 .fifth_quote { font-size: 60px; font-weight: 400; margin:auto; color: #fff; -webkit-text-stroke: #000 3px; width: fit-content; letter-spacing: -3px; }
.section2 .section_wrap .scene1 .fifth_quote span:nth-of-type(1) { color: #ffee62; }
.section2 .section_wrap .scene1 .btn {width: 360px;height: 70px;line-height: 70px;font-size: 24px;font-weight: 100;color: #000;text-align: center;letter-spacing: -.6px;display: block;background: #ffee62;margin: 110px auto 0;}

@media screen and (max-width:767px){
    .section2 .section_wrap .scene1 .scene1_container { text-align:center; }
    .section2 .section_wrap .scene1 .fourth_quote {font-size: 35px; padding:0 20px; -webkit-text-stroke: #000 1.5px; }
    .section2 .section_wrap .scene1 .fifth_quote {font-size: 35px; padding:0 20px; -webkit-text-stroke: #000 1.5px; text-align: center; }
    .section2 .section_wrap .scene1 .btn {width: auto;height:auto;line-height: 19px;font-size: 19px; padding:19px 31.5px; display: inline-block; margin: 30px auto 0;}
}



